@import url("https://fonts.googleapis.com/css?family=Fjalla+One|Noto+Sans");

.container {
  margin: 0;
  background-color: #44004b;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.5rem;
  min-height: 100vh;
  overflow-x: hidden;
}

.faves-link {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  margin-top: 12px;
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.5rem;
}

.faves-link:hover {
  color:  #00d4c3;
}

.popcorn {
  align-self: flex-end;
}

@media only screen and (max-width: 600px) {
  .faves-link {
    font-size: 0.8em;
  }
  
}