.button {
  background-color: #00d4c3;
  font-size: 20px;
  font-family: "Fjalla One", sans-serif;
  text-transform: uppercase;
  height: 50px;
  width: 150px;
  color: #efeeee;
  border-style: none;
  display: inline-block;
}

.button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}
