.header {
  background-color: #580061;
  width: 100%;
  height: 60px;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.search-box {
  height: 3rem;
  background-color: #580061;
  border: 0;
  color: #fff;
  font-size: 1.2rem;
}

.search-button {
  background-color: #00d4c3;
  text-align: center;
  height: 3rem;
  width: 4rem;
  border-style: none;
  display: flex;
  justify-content: center;
  align-items: center
}

.search-button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.right-part {
  display: flex;
  flex-basis: 70%;
  justify-content: flex-end;
  margin-left: 3%;
}

.left-part {
  display: flex;
  flex-basis: 20%;
  justify-content: space-evenly;
}

@media only screen and (max-width: 600px) {
  .header {
    height: 100px;
    flex-direction: column;
  }

  .search-box {
    min-width: 100px;
  }

}


