.favheart-sm {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  width: 30px;
  height: 30px;
  text-align: center;
  bottom: 8px;
  right: 8px;
}

.list-movie-image {
  width: 185px;
  height: 278px;
  position: relative;
  overflow: hidden;
}

.list-movie-image-container {
  height: 278px;
  width: 185px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
}

.list-item {
  font-size: 16px;
  display: flex;
  flex-basis: 0;
  margin-right: 3%;
  margin-bottom: 70px;
  position: relative;
  color: #fff;
}

.list-movie-title {
  margin-top: 5%;
}
