.loading {
  width: 100vw;
  height: 100vh;
  background-color: rgba(25, 28, 31, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  text-align: center;
  padding-top: 15%;
}

.lds-dual-ring {
  display: inline-block;
  width: 180px;
  height: 180px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #00d4c3;
  border-color: #00d4c3 transparent #00d4c3 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
