.button {
    background-color: #f26627;
    font-size: 16px;
    height: 45px;
    width: 150px;
    color: #efeeee;
    border-style: none;
    text-transform: uppercase;
    display: inline-block;
}

.button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}