
.search-box {
    height: 30px;
    width: 500px;
    }
    
    .search {
    padding: 10px;
    background-color:#325d79;
    color: #efeeee;
    box-sizing: border-box;
    }
    .button {
        background-color: #f26627;
        height: 30px;
        width: 100px;
        color: #efeeee;
        border-style: none;
    }
    .button:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        cursor: pointer;
    }
